<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NobleUI Responsive Bootstrap 4 Dashboard Template</title>
	<!-- core:css -->
	<link rel="stylesheet" href="../assets/vendors/core/core.css">
  
  <link rel="stylesheet" href="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
  
	<link rel="stylesheet" href="../assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- plugin css for this page -->
	<link rel="stylesheet" href="../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
  <link rel="stylesheet" href="../assets/vendors/core/core.css">
	<!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="../assets/css/demo_2/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../assets/images/favicon.png" />
	<link rel="stylesheet" href="../assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="../assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="../assets/css/demo_2/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../assets/images/favicon.png" />
  
  <link rel="stylesheet" href="../assets/css/demo_2/mystyle.css">
</head>
<body>
    <div>
               
          <div class="main-wrapper">
      
      <nav class="sidebar">
      <div class="sidebar-header">
      <a href="#" class="sidebar-brand" >
      <img src="stockape_logo.png" width="130px" />
      </a>
      <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
      </div>
      </div>
      <div class="sidebar-body">
      <ul class="nav">
      <li class="nav-item nav-category" style={{textAlign:"left"}}>Main</li>
      <Link to='./'>
      <li class="nav-item">
      <a href="" class="nav-link">
      <i class="link-icon" data-feather="box"></i>
      <span class="link-title">Dashboard</span>
      </a>
      </li>
      </Link>
      <li class="nav-item nav-category" style={{textAlign:"left"}}>Featured</li>
      <Link to='./chart'>
      <li class="nav-item">
      <a href="" class="nav-link">
      <i class="link-icon" data-feather="pie-chart"></i>
      <span class="link-title">Chart</span>
      </a>
      </li>
      </Link>
      <Link to='./contact'>
      <li class="nav-item">
      <a href="" class="nav-link">
      <i class="link-icon" data-feather="message-square"></i>
      <span class="link-title">Contact</span>
      </a>
      </li>
      </Link>
      <Link to='./details'>
      <li class="nav-item">
      <a href="" class="nav-link">
      <i class="link-icon" data-feather="layout"></i>
      <span class="link-title">Details</span>
      </a>
      </li>
      </Link>
      <Link to='./privacy'>
      <li class="nav-item">
      <a href="" class="nav-link">
      <i class="link-icon" data-feather="unlock"></i>
      <span class="link-title">Privacy</span>
      </a>
      </li>
      </Link>
      </ul>
      </div>
      </nav>
      
      <div class="page-wrapper">
           
      <nav class="navbar">
       <a href="#" class="sidebar-toggler">
           <i data-feather="menu"></i>
       </a>
       <div class="navbar-content">
           <form class="search-form">
               <div class="input-group">
                   <div class="input-group-prepend">
                       <div class="input-group-text">
                           <i data-feather="search"></i>
                       </div>
                   </div>
                   <input type="text" class="form-control" id="navbarForm" placeholder="Search here..." />
               </div>
           </form>
           <ul class="navbar-nav">
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="flag-icon flag-icon-us mt-1" title="us"></i> <span class="font-weight-medium ml-1 mr-1">English</span>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="languageDropdown">
       <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-us" title="us" id="us"></i> <span class="ml-1"> English </span></a>
       <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-fr" title="fr" id="fr"></i> <span class="ml-1"> French </span></a>
       <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-de" title="de" id="de"></i> <span class="ml-1"> German </span></a>
       <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-pt" title="pt" id="pt"></i> <span class="ml-1"> Portuguese </span></a>
       <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-es" title="es" id="es"></i> <span class="ml-1"> Spanish </span></a>
                   </div>
      </li>
               <li class="nav-item dropdown nav-apps">
                   <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i data-feather="grid"></i>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="appsDropdown">
                       <div class="dropdown-header d-flex align-items-center justify-content-between">
                           <p class="mb-0 font-weight-medium">Web Apps</p>
                           <a href="javascript:;" class="text-muted">Edit</a>
                       </div>
                       <div class="dropdown-body">
                           <div class="d-flex align-items-center apps">
                               <a href="pages/apps/chat.html"><i data-feather="message-square" class="icon-lg"></i><p>Chat</p></a>
                               <a href="pages/apps/calendar.html"><i data-feather="calendar" class="icon-lg"></i><p>Calendar</p></a>
                               <a href="pages/email/inbox.html"><i data-feather="mail" class="icon-lg"></i><p>Email</p></a>
                               <a href="pages/general/profile.html"><i data-feather="instagram" class="icon-lg"></i><p>Profile</p></a>
                           </div>
                       </div>
                       <div class="dropdown-footer d-flex align-items-center justify-content-center">
                           <a href="javascript:;">View all</a>
                       </div>
                   </div>
               </li>
               <li class="nav-item dropdown nav-messages">
                   <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i data-feather="mail"></i>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="messageDropdown">
                       <div class="dropdown-header d-flex align-items-center justify-content-between">
                           <p class="mb-0 font-weight-medium">9 New Messages</p>
                           <a href="javascript:;" class="text-muted">Clear all</a>
                       </div>
                       <div class="dropdown-body">
                           <a href="javascript:;" class="dropdown-item">
                               <div class="figure">
                                   <img src="https://via.placeholder.com/30x30" alt="userr" />
                               </div>
                               <div class="content">
                                   <div class="d-flex justify-content-between align-items-center">
                                       <p>Leonardo Payne</p>
                                       <p class="sub-text text-muted">2 min ago</p>
                                   </div>	
                                   <p class="sub-text text-muted">Project status</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="figure">
                                   <img src="https://via.placeholder.com/30x30" alt="userr" />
                               </div>
                               <div class="content">
                                   <div class="d-flex justify-content-between align-items-center">
                                       <p>Carl Henson</p>
                                       <p class="sub-text text-muted">30 min ago</p>
                                   </div>	
                                   <p class="sub-text text-muted">Client meeting</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="figure">
                                   <img src="https://via.placeholder.com/30x30" alt="userr" />
                               </div>
                               <div class="content">
                                   <div class="d-flex justify-content-between align-items-center">
                                       <p>Jensen Combs</p>												
                                       <p class="sub-text text-muted">1 hrs ago</p>
                                   </div>	
                                   <p class="sub-text text-muted">Project updates</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="figure">
                                   <img src="https://via.placeholder.com/30x30" alt="userr" />
                               </div>
                               <div class="content">
                                   <div class="d-flex justify-content-between align-items-center">
                                       <p>Amiah Burton</p>
                                       <p class="sub-text text-muted">2 hrs ago</p>
                                   </div>
                                   <p class="sub-text text-muted">Project deadline</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="figure">
                                   <img src="https://via.placeholder.com/30x30" alt="userr" />
                               </div>
                               <div class="content">
                                   <div class="d-flex justify-content-between align-items-center">
                                       <p>Yaretzi Mayo</p>
                                       <p class="sub-text text-muted">5 hr ago</p>
                                   </div>
                                   <p class="sub-text text-muted">New record</p>
                               </div>
                           </a>
                       </div>
                       <div class="dropdown-footer d-flex align-items-center justify-content-center">
                           <a href="javascript:;">View all</a>
                       </div>
                   </div>
               </li>
               <li class="nav-item dropdown nav-notifications">
                   <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i data-feather="bell"></i>
                       <div class="indicator">
                           <div class="circle"></div>
                       </div>
                   </a>
                   <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                       <div class="dropdown-header d-flex align-items-center justify-content-between">
                           <p class="mb-0 font-weight-medium">6 New Notifications</p>
                           <a href="javascript:;" class="text-muted">Clear all</a>
                       </div>
                       <div class="dropdown-body">
                           <a href="javascript:;" class="dropdown-item">
                               <div class="icon">
                                   <i data-feather="user-plus"></i>
                               </div>
                               <div class="content">
                                   <p>New customer registered</p>
                                   <p class="sub-text text-muted">2 sec ago</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="icon">
                                   <i data-feather="gift"></i>
                               </div>
                               <div class="content">
                                   <p>New Order Recieved</p>
                                   <p class="sub-text text-muted">30 min ago</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="icon">
                                   <i data-feather="alert-circle"></i>
                               </div>
                               <div class="content">
                                   <p>Server Limit Reached!</p>
                                   <p class="sub-text text-muted">1 hrs ago</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="icon">
                                   <i data-feather="layers"></i>
                               </div>
                               <div class="content">
                                   <p>Apps are ready for update</p>
                                   <p class="sub-text text-muted">5 hrs ago</p>
                               </div>
                           </a>
                           <a href="javascript:;" class="dropdown-item">
                               <div class="icon">
                                   <i data-feather="download"></i>
                               </div>
                               <div class="content">
                                   <p>Download completed</p>
                                   <p class="sub-text text-muted">6 hrs ago</p>
                               </div>
                           </a>
                       </div>
                       <div class="dropdown-footer d-flex align-items-center justify-content-center">
                           <a href="javascript:;">View all</a>
                       </div>
                   </div>
               </li>
               <li class="nav-item dropdown nav-profile">
                   <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <img src="https://via.placeholder.com/30x30" alt="profile" />
                   </a>
                   <div class="dropdown-menu" aria-labelledby="profileDropdown">
                       <div class="dropdown-header d-flex flex-column align-items-center">
                           <div class="figure mb-3">
                               <img src="https://via.placeholder.com/80x80" alt="" />
                           </div>
                           <div class="info text-center">
                               <p class="name font-weight-bold mb-0">Amiah Burton</p>
                               <p class="email text-muted mb-3">amiahburton@gmail.com</p>
                           </div>
                       </div>
                       <div class="dropdown-body">
                           <ul class="profile-nav p-0 pt-3">
                               <li class="nav-item">
                                   <a href="pages/general/profile.html" class="nav-link">
                                       <i data-feather="user"></i>
                                       <span>Profile</span>
                                   </a>
                               </li>
                               <li class="nav-item">
                                   <a href="javascript:;" class="nav-link">
                                       <i data-feather="edit"></i>
                                       <span>Edit Profile</span>
                                   </a>
                               </li>
                               <li class="nav-item">
                                   <a href="javascript:;" class="nav-link">
                                       <i data-feather="repeat"></i>
                                       <span>Switch User</span>
                                   </a>
                               </li>
                               <li class="nav-item">
                                   <a href="javascript:;" class="nav-link">
                                       <i data-feather="log-out"></i>
                                       <span>Log Out</span>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </li>
           </ul>
       </div>
      </nav>
      <div class="page-content">
      
      <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin" >
      <div>
      <h4 class="mt-0 mb-md-0">Welcome to Dashboard</h4>
      </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
      <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
      <span class="input-group-addon bg-transparent"><i data-feather="calendar" class=" text-primary"></i></span>
      <input type="text" class="form-control" />
      </div>
      
      <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud"></i>
      Download Report
      </button>
      </div>
      </div>
      
      
      <div class="row" >
      <div class="col-md-4 grid-margin stretch-card" >
      <div class="card" >
       <div class="card-body">
         <h6 class="card-title ">Projects</h6>
          <div class="table-responsive">
           <table id="dataTableExample" class="table">
             <thead>
               <tr>
                 <th><p id="myfont">#</p></th>
                 <th><p id="myfont">Name</p></th>
                 <th><p id="myfont">Ticker</p></th>
                 <th><p id="myfont">1 Hr Change</p></th>
                 <th><p id="myfont">Daily Change</p></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>1</td>
               <td> Ticker 1</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>2</td>
               <td> Ticker 2</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>3</td>
                 <td> Ticker 3</td>
                 <td><span class="badge badge-danger">Released</span></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-danger">
                     <span>-2.8%</span>
                     <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-success">
                     <span>2.8%</span>
                     <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
               </tr>
               <tr>
                 <td>4</td>
                 <td> Ticker 4</td>
                 <td><span class="badge badge-danger">Released</span></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-danger">
                     <span>-2.8%</span>
                     <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-success">
                     <span>2.8%</span>
                     <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
               </tr>
               <tr>
                 <td>5</td>
               <td> Ticker 5</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>6</td>
                 <td> Ticker 6</td>
                 <td><span class="badge badge-danger">Released</span></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-danger">
                     <span>-2.8%</span>
                     <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
                 <td><div class="d-flex align-items-baseline">
                   <p class="text-success">
                     <span>2.8%</span>
                     <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                   </p>
                 </div></td>
               </tr>
               <tr>
                 <td>7</td>
               <td> Ticker 7</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>8</td>
               <td> Ticker 8</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>9</td>
               <td> Ticker 9</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>10</td>
               <td> Ticker 10</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>11</td>
               <td> Ticker 11</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               <tr>
                 <td>12</td>
               <td> Ticker 12</td>
               <td><span class="badge badge-danger">Released</span></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-danger">
                   <span>-2.8%</span>
                   <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               <td><div class="d-flex align-items-baseline">
                 <p class="text-success">
                   <span>2.8%</span>
                   <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                 </p>
               </div></td>
               </tr>
               
             </tbody>
           </table>
         </div>
       </div>
      </div>
      
      </div>
      <div class="col-lg-8 col-xl-8 ">
      <div class="card overflow-hidden" id="myheight">
      <div class="card-body">
       <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
         <h6 class="card-title mb-0">Live Sentiment Analysis</h6>
         <div class="dropdown">
           <button class="btn p-0" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
           </button>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3">
             <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
             <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
             <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
             <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
             <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
           </div>
         </div>
       </div>
       <div class="row align-items-start mb-2">
         <div class="col-md-7">
           <p class="text-muted tx-13 mb-3 mb-md-0">StockApe uses deep learning analysis on multiple live data points to generate a trending aggregate sentiment score. Graph will auto update every interval.</p>
         </div>
         <div class="col-md-5 d-flex justify-content-md-end">
           <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
             <button type="button" class="btn btn-outline-primary">Today</button>
             <button type="button" class="btn btn-outline-primary d-none d-md-block active">Week</button>
             <button type="button" class="btn btn-outline-primary">Month</button>
             <button type="button" class="btn btn-outline-primary">Year</button>
           </div>
         </div>
         <div class="col-md-12 d-flex justify-content-md-end">
           <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
             <img src="1.png" width="30px" height="40px" />
             <img src="2.png" width="30px" height="40px" />
             <img src="3.png" width="30px" height="40px" />
             <img src="4.png" width="30px" height="40px" />
             <img src="5.png" width="30px" height="40px" />
             <img src="6.png" width="30px" height="40px" />
             <img src="7.png" width="30px" height="40px" />
             <img src="8.png" width="30px" height="40px" />
             <img src="9.png" width="30px" height="40px" />
            <img src="10.png" width="30px" height="40px" />
           </div>
         </div>
       </div>
       <div class="row align-items-start mb-2">
        <h6 style={{color:"green"}}><b>Bullish</b></h6>
      </div>
      
      
       <div class="flot-wrapper" id="myflot">
         <div id="flotChart1" class="flot-chart mygraph" ></div>
       </div>
    
      </div>
      <div class="row align-items-start mb-2">
        
        <h6 style={{color:"red",marginLeft:"24px",marginTop:"-20px",translate:"50%,0,0"}}><b>Bearish</b></h6>
      </div>
      </div>
      </div>
      
      
      </div> 
      
      <div class="row">
      
      
      </div>
      <br />
      <div class="row">
           <div class="col-xl-6 grid-margin stretch-card">
               <div class="card">
                   <div class="card-body">
                       <h6 class="card-title">MOST ACTIVE</h6>
       <div id="apexDonut"></div>
                   </div>
               </div>
           </div>
           <div class="col-xl-6 grid-margin stretch-card">
           
           </div>
       </div>
      
      
      
      </div>
      <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
      <p class="text-muted text-center text-md-left">Use is subject to full acceptance of Terms of Use and Privacy Policy, bar none. Investing is risky and can result in huge losses.<br/> Information provided is not financial advice and we do not warrant or guarantee the contents are accurate, up-to-date or reliable. </p>
      <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">StockApe © <a href="https://twitter.com/stock_ape"><img src="twitter.svg"/></a> <a href="https://www.reddit.com/r/StockApeAI/"><img src="reddit1.svg" id="redditbg"/></a> </p>
      </footer>
      </div>
      </div>   
       </div>);
   
    
	<!-- core:js -->
	<script src="../assets/vendors/core/core.js"></script>
	<!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../assets/vendors/chartjs/Chart.min.js"></script>
  <script src="../assets/vendors/jquery.flot/jquery.flot.js"></script>
  <script src="../assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
  <script src="../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="../assets/vendors/apexcharts/apexcharts.min.js"></script>
  <script src="../assets/vendors/progressbar.js/progressbar.min.js"></script>
	<!-- end plugin js for this page -->
  
  
	<!-- inject:js -->

	<!-- endinject -->
  <!-- custom js for this page -->
  <script src="../assets/js/dashboard.js"></script>
  <script src="../assets/js/datepicker.js"></script>
	<!-- end custom js for this page -->

	<!-- endinject -->
  <!-- plugin js for this page -->
	<script src="../assets/vendors/apexcharts/apexcharts.min.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<!-- endinject -->
  <!-- custom js for this page -->
  <script src="../assets/js/apexcharts.js"></script>
	<!-- endinject -->
  <!-- plugin js for this page -->
  <script src="../assets/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="../assets/vendors/feather-icons/feather.min.js"></script>
	<script src="../assets/js/template.js"></script>
	<!-- endinject -->
  <!-- custom js for this page -->
  <script src="../assets/js/data-table.js"></script>

  
  <!-- plugin js for this page -->
  <script src="../assets/vendors/chartjs/Chart.min.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<!-- endinject -->
  <!-- custom js for this page -->
  <script src="../assets/js/chartjs.js"></script>
</body>
</html>    